In [24]:
import numpy as np
import pandas as pd
# import backtranslation
import nlpaug.augmenter.word as naw

In [25]:
# make augmenter from indonesia to english and english to indonesia
aug_id_en = naw.BackTranslationAug(from_model_name='Helsinki-NLP/opus-mt-id-en', to_model_name='Helsinki-NLP/opus-mt-en-id')

In [26]:
def augment_data(text):
    # make augmented data
    augmented_data = aug_id_en.augment(text)
    return augmented_data

In [72]:
df_latih = pd.read_csv('data_latih_bisakeknya.csv')
df_latih.describe()

       patterns               classes
count      1592                  1598
unique     1287                    80
top       ambil  tata_cara_pembayaran
freq         15                   110

In [77]:
# take random sample of patterns data
df_latih_sample = df_latih.sample(n=700, random_state=42).reset_index().drop('index',axis=1)
df_latih_sample['text'] = [""] * len(df_latih_sample) 
for i in range(len(df_latih_sample)):
    try:
        df_latih_sample['text'][i] = augment_data(df_latih_sample['patterns'][i])
    except:
        df_latih_sample['text'][i] = df_latih_sample['patterns'][i]

In [78]:
df_latih_sample.to_csv('data_latih_bisakeknya_augmented.csv',index=False)